body {
	font-family: 'Arial';
	font-size: 2em;
}

input[type="text"] {
	display: block;
	height: auto;
	width: 500px;
	margin-top: 10px;
	font-size: 2em;
}

input[type="password"] {
	display: block;
	height: auto;
	width: 500px;
	margin-top: 10px;
	font-size: 2em;
}


input[type="submit"] {
	margin-top: 10px;
	height: auto;
	width: 300px;
	font-size: 2em;
}

